body {
            background-color: #000000;
            background-image: url("../images/background.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            min-height: 100dvh;
            margin: 0%;
        }
.neon-btn img{
    width: 150px;
    height: 150px;
}
.locate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.neon-btn{
    padding:15px 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight:bold;
    color:#00e5ff;
    background:rgba(0, 0, 0, 0.05);
    backdrop-filter:blur(12px);
    border:2px solid #00e5ff;
    border-radius:150px;
    cursor:pointer;
    text-transform:uppercase;
    letter-spacing:2px;

    box-shadow:
        0 0 5px #00e5ff,
        0 0 15px #00e5ff,
        0 0 30px #00e5ff;

    animation:pulse 1.5s infinite ease-in-out;

    transition:0.3s;
}

@keyframes pulse{
    0%{
        transform:scale(1);
        box-shadow:
            0 0 5px #00e5ff,
            0 0 15px #00e5ff,
            0 0 30px #00e5ff;
    }

    50%{
        transform:scale(1.12);
        box-shadow:
            0 0 10px #00e5ff,
            0 0 25px #00e5ff,
            0 0 50px #00e5ff,
            0 0 80px #00e5ff;
    }

    100%{
        transform:scale(1);
        box-shadow:
            0 0 5px #00e5ff,
            0 0 15px #00e5ff,
            0 0 30px #00e5ff;
    }}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    z-index: 999;
}
.navbar-container{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;

}
.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    transition: all 0.7s ease;
    white-space: nowrap;

}
.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li a.active{
    color: #162530;
    background: rgba(188, 212, 229, 0.81);
    border: 2px solid white;

}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height:3px;
    margin:5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
#micbutton {
    background-color: #ffffff;
    border: none;
    color: white;
    padding: 15px 32px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 150px;
    background: rgba(0, 0, 0, 0.048);
    box-shadow: 0 0 10px #000000;
    backdrop-filter: blur(12px);
    }


.audio img {
    width:150px;
    height: 150px;
    border-radius: 150px;
            
    }

    @media(max-width: 880px){
        .navbar{
            backdrop-filter: none;
        }
        .navbar-container .navbar-menu{
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.7rem !important;
            position:absolute;
            height: 100vh;
            width: 250px;
            top: 0;
            right: 0;
            padding: 5rem .5 rem;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(12px);
        }
        .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;

    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;

    }

    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    }
    @media(max-width: 480px){
        .navbar-container{
            padding: 0 1rem;
        }

        .navbar-logo{
            font-size: 1.7rem;

        }

        .navbar-container .navbar-menu li a {
            font-size: 1.2rem;
            padding: 3px 15px;
        }
    }

.popup{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:transparent;
    backdrop-filter: blur(12px);
    color: #000000;
    border-radius:10px;
    padding:20px;
    width:300px;
    box-shadow:0 0 15px rgba(0,0,0,0.7);
}

.popup button{
    margin-top:15px;
    padding:8px 15px;
    color: #162530;
    background: rgba(188, 212, 229, 0.81);
    border: 2px solid white;
    border-radius: 50px;
}

.down {
    position: absolute;
    bottom:10px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px black;
    color: white;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.down a{
    color:aqua;
    cursor: pointer;
}
.down a:hover{
    color: blueviolet;
}