body{
    background-color: rgb(126, 211, 218);
    position: absolute;
    align-items: center;
}
.t_c{
    position: relative;
    background-color: rgb(255, 255, 255);
    align-content: center center;
    align-items: center;
}