<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanovia.Ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container"><a href="/index" class="navbar-logo">Sanovia.Ai</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/index" >Client Interface</a></li>
            <li><a href="/model">Model</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/about" class="active">About us</a></li>
        </ul>
        </div>
    </nav>
    <div class="content">
        <h1>About us</h1>
        <p>
            Myself Karthikeyan along with my friends Niranjan, Hari, Akshay, Raghav, Sudev creating this model as our class 12th 
            Artificial Intelligence(843) investigatory project. And our special thanks to our teachers and parents who frequently 
            supported,guided and motivated <b>US</b>.
        </p>
    </div>
</body>
<script src="{{ url_for('static', filename='js/about_script.js') }}"></script>
</html>