<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanovia.Ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container"><a href="/index" class="navbar-logo">Sanovia.Ai</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/index" >Client Interface</a></li>
            <li><a href="/model">Model</a></li>
            <li><a href="/feedback"class="active">Feedback</a></li>
            <li><a href="/about" >About us</a></li>
        </ul>
        </div>
    </nav>
    <div class="box">
        <textarea id="feedback" placeholder="Type your message here..."></textarea>
        <button onclick="sendfeedback()">Send</button>
</div>
</body>
<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
</html>