<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanovia.Ai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container"><a href="/index" class="navbar-logo">Sanovia.Ai</a>
        <button class="navbar-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/index" class="active">Client Interface</a></li>
            <li><a href="/model">Model</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/about" >About us</a></li>
        </ul>
        </div>
    </nav>
<button id="micbutton" ><div class="audio" id="audio"><img src="{{ url_for('static', filename='images/mic.png') }}" alt='microphone' class="mic"></div></button>
<div class="locate"><button class="neon-btn"><img src="{{ url_for('static', filename='images/mic.png') }}" alt='microphone' class="mic"></button></div>
<div class="popup" id="popup">
    <h3>Response generated</h3>
    <p id="responsetext"></p>
    <button onclick="closePopup()">Close</button>
</div>
<div class="down">
    Sanovia Ai | This AI provides informational support and is not a substitute for professional medical advice.
    This model is still under devlopment and the model can still make errors so make sure to double check it.<a href="/tc">T&C</a>
</div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>