<!DOCTYPE html>
<html >
    <head>
        <title>T&C</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tc.css') }}">
    </head>
    <body>
        <div class="tac">

        <ul class="t_c">
                    <h1>Sanovia.Ai</h1>
        <h2>Tems and conditions</h2>

            <li>This model will only provide health related information and Ai genenerated responses for educational
                and informational purpose only. It is not a substitute for professional medical advice, diagnosis, or treatment.
            </li>
            <li>Using Sanovia.Ai does not create a doctor-patient or healthcare provider relationship.</li>
            <li>We ourself not a actual doctor or belong to any medical related fields the data is just purly based on our research and some ai generated contents.</li>
            <li>This model is still under development so for any issue or trouble occured due to following the instructions given by the model the company is not responsible.</li>
            <li>This model shares your location in the internet only if you use some keywords which indicates you need immediate support, this is not made in the sense of violating the user's privacy.</li>
            <li>Don't relay on Sanovia if you're aware you are really in dangerous situation.</li>
            <li>While Sanovia strives to provide accurate and up-to-date information, it doees not guarantee the completeness, accuracy, or reliability of any response.</li>
            <li>Users are responsible for verifying any ealth information with qualified healthcare professionals before making medical decisions.</li>
            <li>Users under the applicable age in their jutisdiction should use Sanovia only with the consent or supervision of a parent or gurdian.</li>
            <li>Users must not use Sanovia for unlawful activities, impersonation,spreading misinformation, or attempting to disrupt the service.</li>
            <li>The model may be updated modified or temporarily unavailable without prior notice.</li>
            <li>All software, logos, branding, and original content associated with sanovia are the intellectual property of the project owners unless otherwise stated.</li>
            <li>These terms and conditions may be updated at any time. Continued use of Sanovia constitutes acceptance of the revised terms.</li>
            <li>By using Sanovia.Ai, you acknowledge that you have read, understood, and agree to these Terms& conditions. </li>
        </ul>
        </div>
    </body>
</html>